/* 公共样式 */
html,body{height: 100%;background-color: #efefef;}
p{margin: 0;padding: 0;}
.text_center{text-align: center;}
.text_right{text-align: right;}
.text_left{text-align: left;}
.font_bold{font-weight: bold;}
.color_blue{color: #1989fa;}
.color_white{color: #ffffff;}
.color_red{color: #d43030;}
.color_yellow{color: #ff8d1a;}
.color_black{color: #222222;}
.color_green{color: #41b370;}
.color_gray{color: #484848;}
.color_lightGray{color: #999999;}
.bg_red{background-color: #d43030;}
.bg_blue{background-color: #1989fa;}
.bg_yellow{background-color: #ff8d1a;}
.bg_orange{background-color: #ff5733;}
.bg_white{background-color: #ffffff;}
.f26{font-size: 26px;}
.f18{font-size: 18px;}
.f16{font-size: 16px;}
.f14{font-size: 14px;}
.margin_top_5{margin-top: 5px;}

/* 注册 */
.register_title{height: 250px;width: 100%;box-sizing: border-box;overflow: hidden;}
.register_headImg{margin-top: 30px;}
.register_loginSign{text-align: right;padding-right: 40px;}
.register_leftPadding{padding-left: 40px;}
.register_forgetPwd{padding: 44px 15px 0px;width: 60%;}