<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/element/index.css">
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/js/jquery-2.1.4.min.js"></script>
    <script src="../public/css/element/element.js"></script>
</head>

<body>
    <div id='app'>
        <div>
            <el-button @click="addAll">批量增加</el-button>
            <el-button @click="toggleSelection()">取消选择</el-button>
            <el-button @click="deleteAll">批量删除</el-button>
            <el-table :data="tableData" ref="multipleTable" border @selection-change="handleSelectionChange">
                <el-table-column type="selection"></el-table-column>
                <el-table-column label="title">
                    <template slot-scope="scope">
                        <span v-if="scope.row.show">
                            <el-input size="mini" placeholder="请输入内容" v-model="scope.row.title"></el-input>
                        </span>
                        <span v-else>{{scope.row.title}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="text">
                    <template slot-scope="scope">
                        <span v-if="scope.row.show">
                            <el-input size="mini" placeholder="请输入内容" v-model="scope.row.text"></el-input>
                        </span>
                        <span v-else>{{scope.row.text}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="cope(scope.row,scope.$index)">单个复制</el-button>
                        <el-button @click="delete(scope.$index)">单个删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog title="提示" :visible.sync="dialogVisible">
                <span>显示信息！！！</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                tableData: [{
                    title: '标题1',
                    text: 's111sssa'
                },
                {
                    title: '标题2',
                    text: 'ss222ssa'
                },],
                multipleSelection: [],
            }
        },
        methods: {
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            edit(row, index) {
                row.show = row.show ? false : true
                Vue.set(this.tableData, index, row)
                // 修改后保存
            },
            // 单个复制
            cope(val, index) {
                this.tableData.splice(index, 0, JSON.parse(JSON.stringify(val)))
            },
            // 单个删除
            delete(index) {
                this.tableData.splice(index, 1)
            },
            //批量新增
            addAll() {
                let list = {
                    title: "",
                    text: ""
                }
                this.tableData.push(list)
            },
            //批量删除
            deleteAll() {
                for (let i = 0; i < this.tableData.length; i++) {
                    const element = this.tableData[i];
                    element.id = i
                }
                if (this.multipleSelection.length == 0) this.$message.error('请先至少选择一项')
                this.multipleSelection.forEach(element => {
                    this.tableData.forEach((e, i) => {
                        if (element.id == e.id) {
                            this.tableData.splice(i, 1)
                        }
                    });
                });
            },
            //多选
            handleSelectionChange(val) {
                this.multipleSelection = val;
            }
        }
    })
</script>

</html>