<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>用品表单-填写</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <link type="text/css" rel="stylesheet" href="../js/weui/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../../public/css/font-awesome-4.7.0/css/font-awesome.css"/>
    <link type="text/css" rel="stylesheet" href="../css/workOrder-style/common.css"/>
    <link type="text/css" rel="stylesheet" href="../js/weui/weuix.css">
    <link type="text/css" rel="stylesheet" href="../js/element/index.css">
<style>
    body,html {background: #fff;overflow-x: hidden}
    table td,table th {border: none}
</style>
</head>
<body>
<div class="page supples">
    <div class="weui-header head-box" style="position: fixed;">
        <div class="weui-header-left"><a class="icon icon-95 f-white"></a></div>
        <p class="head-center text-left">填写表单</p>
        <div class="weui-header-right"><a class="icon icon-22 f-white"></a></div>
    </div>
    <div class="supples-xq">
        <p class="line"></p>
        <p class="title">申请内容</p>
        <p class="form-title">文具类办公用品</p>
        <template>
            <el-table
                    :data="tableData"
                    border
                    stripe
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop=""
                        label="操作"
                        width="80%">
                    <template slot-scope="scope">
                        <div class="number-now">
                            <el-button class="fa fa-pencil-square-o" onclick="showPop('#editPop')" @click="editData(scope.row,scope.$index)"></el-button>
                            <el-button type="text" class="fa fa-minus-square-o" @click="open(scope.$index,tableData)"></el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="child_1"
                        label="申请项目"
                        width="200%">
                </el-table-column>
                <el-table-column
                        prop="child_2"
                        label="申请数量"
                        width="200%">
                </el-table-column>
            </el-table>
        </template>
        <a hre="#" onclick="showPop('#searchPop')" class="add-btn"><i class="fa fa-plus"></i>添加 </a>
        <p class="form-title">档案类办公用品</p>
        <template>
            <el-table
                    :data="arr2"
                    border
                    stripe
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop=""
                        label="操作"
                        width="80%">
                    <template slot-scope="scope">
                        <div class="number-now">
                            <el-button class="fa fa-pencil-square-o" onclick="showPop('#editPop2')" @click="editData(scope.row,scope.$index)"></el-button>
                            <el-button type="text" class="fa fa-minus-square-o" @click="open(scope.$index,arr2)"></el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="child_1"
                        label="申请项目"
                        width="200%">
                </el-table-column>
                <el-table-column
                        prop="child_2"
                        label="申请数量"
                        width="200%">
                </el-table-column>

            </el-table>
        </template>
        <a hre="#" onclick="showPop('#searchPop2')" class="add-btn"><i class="fa fa-plus"></i>添加 </a>
        <p class="form-title">账本类办公用品</p>
        <template>
            <el-table
                    :data="arr3"
                    border
                    stripe
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop=""
                        label="操作"
                        width="80%">
                    <template slot-scope="scope">
                        <div class="number-now">
                            <el-button class="fa fa-pencil-square-o" onclick="showPop('#editPop3')" @click="editData(scope.row,scope.$index)"></el-button>
                            <el-button type="text" class="fa fa-minus-square-o" @click="open(scope.$index,arr3)"></el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="child_1"
                        label="申请项目"
                        width="200%">
                </el-table-column>
                <el-table-column
                        prop="child_2"
                        label="申请数量"
                        width="200%">
                </el-table-column>

            </el-table>
        </template>
        <a hre="#" onclick="showPop('#searchPop3')" class="add-btn"><i class="fa fa-plus"></i>添加 </a>
    </div>

    <!--添加弹框-->
    <div class="pop-box pop-right " id="searchPop" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="city" lay-verify="" v-model="child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#searchPop')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#searchPop')" @click="addData">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
    <div class="pop-box pop-right " id="searchPop2" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="city" lay-verify="" v-model="child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#searchPop2')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#searchPop2')" @click="addData2">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
    <div class="pop-box pop-right " id="searchPop3" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="city" lay-verify="" v-model="child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#searchPop3')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#searchPop3')" @click="addData3">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
    <!--编辑弹框-->
    <div class="pop-box pop-right " id="editPop" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="" lay-verify="" v-model="editForm.child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="editForm.child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#editPop')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#editPop')" @click="confirm">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
    <div class="pop-box pop-right " id="editPop2" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="" lay-verify="" v-model="editForm.child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="editForm.child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#editPop2')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#editPop2')" @click="confirm2">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
    <div class="pop-box pop-right " id="editPop3" style="display: block;">
        <div class="pop-con" style="padding: 0;width: 100%;left: 0;">
            <form class="add-form">
                <div class="add-form-item">
                    <p>申请项目</p>
                    <select name="" lay-verify="" v-model="editForm.child_1">
                        <option value="">请选择</option>
                        <option value="签字笔">签字笔</option>
                        <option value="A4纸">A4纸</option>
                    </select>
                </div>
                <div class="add-form-item">
                    <p>申请数量</p>
                    <input type="text" v-model="editForm.child_2">
                </div>

            </form>
            <div class="userp-doing">
                <a class="btn btn-close" onclick="hidePop('#editPop3')">取消</a>
                <a class="btn btn-save" onclick="hidePop('#editPop3')" @click="confirm3">保存</a>
                <a class="btn btn-go" onclick="">保存并继续</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../../public/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../public/js/vue.min.js"></script>
<script type="text/javascript" src="../js/element/index.js"></script>
<script>

    var vm = new Vue({
        el:'.supples',
        data() {
            return {
                tableData:[
                    {'table_index':0,'child_1':'水笔/记号笔：￥2/支','child_2':12},
                    {'table_index':0,'child_1':'水笔/记号笔：￥2/支','child_2':12},
                ],
                arr2: [
                    {'table_index':0,'child_1':'水笔/记号笔：￥2/支','child_2':12},
                ],
                arr3:[
                    {'table_index':0,'child_1':'水笔/记号笔：￥2/支','child_2':12},
                ],
                child_1:'',
                child_2:'',
                editForm: {
                   'table_index':'','child_1':'','child_2':''
                },
                editIndex:'',

            }

        },

        methods: {
            open(index,rows) {
                this.$confirm('确认删除？', '确认信息', {
                    distinguishCancelAndClose: true,
                    showClose:false,
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                })
                    .then(() => {
                        rows.splice(index,1);
                    })
                    .catch(action => {

                    });
            },
            addData:function () {
                var str = {child_1:this.child_1,child_2:this.child_2};
                this.tableData.push(str);
                this.child_1='';
                this.child_2=''
            },
            addData2:function () {
                var str = {child_1:this.child_1,child_2:this.child_2};
                this.arr2.push(str);
                this.child_1='';
                this.child_2=''
            },
            addData3:function () {
                var str = {child_1:this.child_1,child_2:this.child_2};
                this.arr3.push(str);
                this.child_1='';
                this.child_2=''
            },
            //编辑
            editData:function (item,index) {
                this.editIndex = index;
                this.editForm = {
                    child_1: item.child_1,
                    child_2: item.child_2
                };
            },
            //编辑提交
            confirm() {
                Vue.set(this.tableData,this.editIndex,this.editForm);
                JSON.stringify(this.tableData);
            },
            confirm2() {
                Vue.set(this.arr2,this.editIndex,this.editForm);
                JSON.stringify(this.arr2);
            },
            confirm3() {
                Vue.set(this.arr3,this.editIndex,this.editForm);
                JSON.stringify(this.arr3);
            },
            
        }
    });


</script>
</html>
