<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/element/index.css">
    <script src="../public/js/jquery-2.1.4.min.js"></script>
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/css/element/element.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <el-button icon="el-icon-plus" type='primary' @click="add">添加一行</el-button>
            <ul>
                <li v-for='(list,index) in lists' v-bind:key='list.id'>
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table__body el-table el-table--border">
                        <tbody>
                            <tr class="el-table__row">
                                <td>
                                    <div class="cell">开票金额：</div>
                                </td>
                                <td>
                                    <div class="cell">
                                        <el-input v-model="list.name"></el-input>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell">发票类型：</div>
                                </td>
                                <td>
                                    <div class="cell">
                                        <el-input v-model="list.name"></el-input>
                                    </div>
                                </td>
                            </tr>
                            <tr class="el-table__row">
                                <td>
                                    <div class="cell">发票抬头：</div>
                                </td>
                                <td>
                                    <div class="cell">
                                        <el-input v-model="list.name"></el-input>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell">132456</div>
                                </td>
                                <td>
                                    <div class="cell">
                                        <el-input v-model="list.name"></el-input>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <el-button size='mini' type='warning' @click="del(index)">删除</el-button>
                </li>
            </ul>
        </div>
        <!-- 表格 判断 
             <el-table-column prop="businessState"   label="当前状态" width="250px" show-overflow-tooltip align="center">
            <template scope="scope">                    
                <p v-if="scope.row.businessState=='0'">配置中</p>
                <p v-if="scope.row.businessState=='1'">发布</p>
                <p v-if="scope.row.businessState=='2'">失效</p>               
            </template>
        </el-table-column> -->
        <!-- 表格内容为json字符串的显示
        <el-table-column align="center" label="填写内容">
            <template slot-scope="scope">
                <el-row v-for="json in JSON.parse(scope.row.json)" :key="json">
                     {{json}}
                </el-row>
            </template>
      </el-table-column> -->
        <div>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="number" label="日期" width="180">
                </el-table-column>
                <el-table-column label="姓名" width="180">
                    <template slot-scope="scope">
                        <el-input-number v-model="scope.row.num" @change="handleChange" label="描述文字"></el-input-number>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div>
            <el-select v-model="period" placeholder="请选择活动区域" style="min-width:300px;">
                <el-option v-for="item in attributeList" :key="item.type" :label="item.name" :value="item.type">
                </el-option>
            </el-select>
            <div v-show="period === 'YEAR'">123</div>
            <div v-show="period === 'MONTH'">456</div>
            <div v-show="period === 'DAY'">789</div>
        </div>

    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                attributeList: [{
                        name: '年',
                        type: 'YEAR'
                    },
                    {
                        name: '月',
                        type: 'MONTH'
                    },
                    {
                        name: '日',
                        type: 'DAY'
                    }
                ],
                period: 'YEAR', // 默认为年
                tableData: [{
                    number: '1',
                    num: '1'
                }, {
                    number: '3',
                    num: '1'
                }, {
                    number: '5',
                    num: '1'
                }, ],
                tables: [],
                lists: [{
                    name: "",
                    value: ''
                }],
            }
        },
        methods: {
            handleChange(value) {},
            addList() {
                this.drawer = true;
            },
            add: function () {
                let cope = {
                    name: " ",
                    value: " ",
                }
                this.lists.push(cope);
            },
            del: function (index) {
                this.lists.splice(index, 1);
            },
        },
    })
</script>

</html>