<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VUE拖拽</title>
    <link rel="stylesheet" href="../public/css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/perExcel.css" />
</head>

<body>
    <div id="app" v-cloak>
        <div class="pre">
            <div class="pre-name">
            </div>
        </div>
        <div class="pre-table-box">

            <table class="pre-table">
                <thead class="pre-thead">
                    <tr id="preTable_thead">
                        <td v-for="(item,index) in col" v-if="enable">
                            <div class="pre-title">{{item.label}}</div>
                        </td>
                    </tr>
                </thead>
                <tbody id="preTable_tbody" class="pre-tbody">
                    <tr>
                        <td v-for="item in col.length">11</td>
                    </tr>
                </tbody>
            </table>
            <div class=" pre-add" @click="addColumnLast()">
                <div class="pre-type">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="pre-title">添加列</div>
                <div class="pre-menu ">
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="../public/js/vue.min.js"></script>
    <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../public/js/Sortable.min.js"></script>
    <script>
        var oldIndex = '';
        var newIndex = '';
        $(function () {
            tableColumnDrop();
        })
        //表头拖动
        function tableColumnDrop() {
            var gridDemo = document.getElementById('preTable_thead');
            new Sortable(gridDemo, {
                animation: 150,
                delay: 0,
                onEnd: evt => {
                    oldIndex = evt.oldIndex;
                    newIndex = evt.newIndex;
                    app.changeColumnData();
                    $('#pre_select_box').hide();
                    $('#pre_menu_box').hide();
                    $('#pre_type_select').hide();
                }
            });
        }

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    enable: true,
                    //表头数据
                    col: [],
                    thiscol: '',
                    thiscolIndex: '',
                    //下拉 数据类型
                    typeValue: 'string',
                    typeData: [],

                }
            },
            mounted() {
                if (this.col.length <= 0) {
                    this.col.push(this.newColumnItem())
                }
            },
            methods: {


                //最后添加一条数据
                addColumnLast: function () {
                    var _len = this.col.length;
                    var newObj = this.newColumnItem();
                    this.col.splice(_len, 0, newObj);
                },
                //新增一个数据
                newColumnItem: function () {
                    var _id = this.col.length + 1;
                    var newObj = {}
                    newObj.theadId = "";
                    newObj.label = '标题' + _id;
                    newObj.dataType = 'string';
                    newObj.options = [];
                    return newObj;
                },
                //表头拖动后重构数据
                changeColumnData: function () {
                    const oldItem2 = this.col[oldIndex]
                    this.col.splice(oldIndex, 1)
                    this.col.splice(newIndex, 0, oldItem2);
                    this.reload_list();
                    tableColumnDrop();
                },
                reload_list: function () {
                    this.enable = false;
                    this.$nextTick(function () {
                        this.enable = true
                    });
                },

            }
        })
    </script>
</body>

</html>