<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/element/index.css">
</head>
<style>
    li {
        list-style: none;
    }
</style>

<body>
    <div id="app">
        <!-- 1 -->
        <div>
            <el-button icon="el-icon-plus" type='primary' @click="add">添加一行</el-button>
            <ul>
                <li v-for='(list,index) in lists' v-bind:key='list.id'>
                    <div>
                        <span>asdjif</span>
                        <el-input v-model="list.name"></el-input>
                    </div>
                    <div>
                        <span>asdjif</span>
                        <el-input v-model="list.value"></el-input>
                    </div>
                    <el-button size='mini' type='warning' @click="del(index)">删除</el-button>
                </li>
            </ul>
        </div>
        <!-- 2 -->
        <div>
            <el-button @click="addList" type="primary">增加</el-button>
            <el-row class="consignee" v-for="(item,index) in tableData">
                <span v-text="item.child_1"></span>
                <span v-text="item.child_2"></span>
                <span>{{item.child_3}}</span>
                <span>{{item.child_4}}</span>
                <el-button @click="editData(item,index)" type="primary">编辑</el-button>
                <el-button @click="deleteData(index,tableData)" type="primary">删除</el-button>
            </el-row>
            <el-drawer title="添加一行" :visible.sync="drawer" size='900px'>
                <form>
                    <div>
                        <p>申请项目</p>
                        <input type="text" v-model="child_1">
                    </div>
                    <div>
                        <p>申请数量</p>
                        <input type="text" v-model="child_2">
                    </div>
                    <div>
                        <el-radio-group v-model="child_3" v-for="(item, index) in radio" :key="index">
                            <el-radio :label="item.value"></el-radio>
                        </el-radio-group>
                    </div>
                    <div>
                        <el-select v-model="child_4" placeholder="请选择">
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <el-button @click="addData" type="primary">增加</el-button>
                </form>
            </el-drawer>
            <el-drawer title="编辑一行" :visible.sync="edit_drawer" size='900px'>
                <form class="add-form">
                    <div>
                        <p>申请项目</p>
                        <input type="text" v-model="editForm.child_1">
                    </div>
                    <div>
                        <p>申请数量</p>
                        <input type="text" v-model="editForm.child_2">
                    </div>
                    <div>
                        <el-radio-group v-model="editForm.child_3" v-for="(item, index) in radio" :key="index">
                            <el-radio :label="item.value"></el-radio>
                        </el-radio-group>
                        <el-select v-model="editForm.child_4" placeholder="请选择">
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </form>
                <el-button @click="confirm" type="primary">保存</el-button>
            </el-drawer>
        </div>
        <!-- 3 -->
        <div>
            <div v-show='play'>
                <el-input v-model='stepNme.name'></el-input>
                <el-button @click="confirm_step">保存</el-button>
            </div>
            <div class="el-steps el-steps--vertical">
                <div class="el-step is-vertical" v-for="(item,index) in step">
                    <div class="el-step__head is-finish">
                        <div class="el-step__line">
                            <i class="el-step__line-inner"></i></div>
                        <div class="el-step__icon is-text">
                            <div class="el-step__icon-inner">1</div>
                        </div>
                    </div>
                    <div class="el-step__main">
                        <div class="el-step__title is-finish">{{item.name}}
                            <el-button @click='editStep(item,index)'>编辑</el-button>
                            <el-button type='primary' @click="removeItem(index)">删除</el-button>
                        </div>
                        <div>{{item.content}}</div>
                    </div>
                </div>
                <div class="el-step is-vertical">
                    <div class="el-step__head is-finish" @click='addItem(index)'>
                        <div class="el-step__icon is-text">
                            <i class="el-icon-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div>
            <el-button @click="addAll">批量增加</el-button>
            <el-button @click="toggleSelection()">取消选择</el-button>
            <el-button @click="deleteAll">批量删除</el-button>
            <el-table :data="tableData" ref="multipleTable" border @selection-change="handleSelectionChange">
                <el-table-column type="selection"></el-table-column>
                <el-table-column label="title">
                    <template slot-scope="scope">
                        <span v-if="scope.row.show">
                            <el-input size="mini" placeholder="请输入内容" v-model="scope.row.title"></el-input>
                        </span>
                        <span v-else>{{scope.row.title}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="text">
                    <template slot-scope="scope">
                        <span v-if="scope.row.show">
                            <el-input size="mini" placeholder="请输入内容" v-model="scope.row.text"></el-input>
                        </span>
                        <span v-else>{{scope.row.text}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="cope(scope.row,scope.$index)">单个复制</el-button>
                        <el-button @click="delete(scope.$index)">单个删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog title="提示" :visible.sync="dialogVisible">
                <span>显示信息！！！</span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
        </div>
        <!-- 5 -->
        <div>
            <el-input @focus="open" v-model='input_name'></el-input>
            <el-dialog title="提示" :visible.sync="dialogVisible">
                <ul>
                    <li v-for='(item,index) in test' :key='index' @click='li_click($event)'>
                        <div>{{item.name}}</div>
                    </li>
                </ul>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
</body>
<script src="../public/js/vue.min.js"></script>
<script src="../public/element/element.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                // 5
                input_name: [],
                test: [{
                    name: 'aa'
                }, {
                    name: 'bb'
                }, {
                    name: 'cc'
                }, ],
                dialogVisible: false,
                // 4
                dialogVisible: false,
                tableData: [{
                        title: '标题1',
                        text: 's111sssa'
                    },
                    {
                        title: '标题2',
                        text: 'ss222ssa'
                    },
                ],
                multipleSelection: [],

                step: [{
                    name: '11',
                    content: '22'
                }, {
                    name: '112',
                    content: '222'
                }],
                stepNme: {
                    name: ''
                },
                play: false,
                // 2
                options: [{
                    value: 'aa'
                }, {
                    value: 'bb'
                }, {
                    value: 'cc'
                }, {
                    value: 'dd'
                }],
                radio: [{
                        value: "关闭"
                    },
                    {
                        value: "开启"
                    }
                ],
                editForm: {
                    'child_1': '',
                    'child_2': '',
                    'child_3': '',
                    'child_4': '',
                },
                edit_drawer: false,
                tableData: [{
                        'child_1': '11',
                        'child_2': '22',
                        'child_3': '关闭',
                        'child_4': 'aa',
                    },
                    {
                        'child_1': '11',
                        'child_2': '22',
                        'child_3': '开启',
                        'child_4': 'bb',
                    },
                ],
                child_1: '',
                child_2: '',
                child_3: '',
                child_4: '',
                drawer: false,
                // 1
                tables: [],
                lists: [{
                    name: "",
                    value: ''
                }],
            }
        },
        methods: {
            // 5
            open1: function () {
                this.dialogVisible1 = true

            },
            li_click: function (e) {
                var data = e.target.innerHTML
                this.input_name.push(data);
                this.dialogVisible = false
            },
            open: function () {
                this.input_name = []
                this.dialogVisible = true
            }
            //4
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            edit(row, index) {
                row.show = row.show ? false : true
                Vue.set(this.tableData, index, row)
                // 修改后保存
            },
            // 单个复制
            cope(val, index) {
                this.tableData.splice(index, 0, JSON.parse(JSON.stringify(val)))
            },
            // 单个删除
            delete(index) {
                this.tableData.splice(index, 1)
            },
            //批量新增
            addAll() {
                let list = {
                    title: "",
                    text: ""
                }
                this.tableData.push(list)
            },
            //批量删除
            deleteAll() {
                for (let i = 0; i < this.tableData.length; i++) {
                    const element = this.tableData[i];
                    element.id = i
                }
                if (this.multipleSelection.length == 0) this.$message.error('请先至少选择一项')
                this.multipleSelection.forEach(element => {
                    this.tableData.forEach((e, i) => {
                        if (element.id == e.id) {
                            this.tableData.splice(i, 1)
                        }
                    });
                });
            },
            //多选
            handleSelectionChange(val) {
                this.multipleSelection = val;
            }
            // 3
            removeItem(index) {
                this.step.splice(index, 1)
            },
            confirm_step() {
                Vue.set(this.step, this.stepIndex, this.stepNme);
                JSON.stringify(this.step);
                this.play = false;
            },
            editStep: function (item, index) {
                this.play = true;
                this.stepIndex = index;
                this.stepNme = {
                    name: item.name,
                };
            },
            // 2
            deleteData(index, rows) {
                this.$confirm('确认删除？', '确认信息', {
                        distinguishCancelAndClose: true,
                        showClose: false,
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                    })
                    .then(() => {
                        rows.splice(index, 1);
                    })
                    .catch(action => {

                    });
            },
            confirm() {
                Vue.set(this.tableData, this.editIndex, this.editForm);
                JSON.stringify(this.tableData);
                this.edit_drawer = false;
            },
            editData: function (item, index) {
                this.edit_drawer = true;
                this.editIndex = index;
                this.editForm = {
                    child_1: item.child_1,
                    child_2: item.child_2,
                    child_3: item.child_3,
                    child_4: item.child_4,
                };
            },
            addData() {
                var str = {
                    child_1: this.child_1,
                    child_2: this.child_2,
                    child_3: this.child_3,
                    child_4: this.child_4,
                };
                this.tableData.push(str);
                this.child_1 = '';
                this.child_2 = '';
                this.child_3 = '';
                this.child_4 = '';
                this.drawer = false;
            },
            // 1
            addList() {
                this.drawer = true;
            },
            add: function () {
                let cope = {
                    name: " ",
                    value: " ",
                }
                this.lists.push(cope);
            },
            del: function (index) {
                this.lists.splice(index, 1);
            },
        },
    })
</script>

</html>