<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/vant/index.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/vant/vant.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="food_nav">
            <van-nav-bar title="添加食堂"></van-nav-bar>
        </div>
        <div class="bg_white food_set">
            <p class="color_blue f_bold food_set_title">食堂123</p>
            <van-tabs v-model="active">
                <van-tab title="基本信息">
                    <van-cell center title="是否开启">
                        <template #right-icon>
                            <span class="food_set_switch">关闭</span>
                            <van-switch v-model="info.checked" size="24"></van-switch>
                            <span class="food_set_switch">开启</span>
                        </template>
                    </van-cell>
                    <van-field v-model="info.name" type='text' name="食堂名称" label="食堂名称" placeholder="请填写食堂名称">
                    </van-field>
                    <van-field v-model="info.sub" type='textarea' name="食堂描述" label="食堂描述" placeholder="请填写食堂描述">
                    </van-field>
                    <van-field v-model="info.address" type='textarea' name="食堂地址" label="食堂地址" rows="1" autosize
                        placeholder="请填写食堂地址">
                    </van-field>
                </van-tab>
                <van-tab title="用餐设置">

                </van-tab>
                <van-tab title="配送设置">

                </van-tab>
                <van-tab title="菜品管理">

                </van-tab>
            </van-tabs>
        </div>
        <!-- 底部按钮 -->
        <div class="van-tabbar--fixed van-tabbar food_edit_btn">
            <van-button size="normal" type="info">确认保存</van-button>
        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                info: {
                    checked: true,
                    name: '食堂名称食堂名称',
                    sub: '描述描述描述描述',
                    address: '地址地址地址地址地址地址',
                },
                active: 0,
            }
        },
        methods: {}
    })
</script>

</html>