<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/element/index.css">
    <script src="../public/js/vue.min.js"></script>
    <script src="../public/element/index.js"></script>
</head>

<body>
    <div id="app">
        <el-button @click="addBtn">添加一行</el-button>
        <el-table :data="list" border style="width: 100%">
            <el-table-column label="序号" width="180" prop='id'></el-table-column>
            <el-table-column label="版本号" width="180" prop='version'></el-table-column>
            <el-table-column label="操作" width="180">
                <template scope="scope">
                    <el-button type="text" @click='editShow(scope.row,scope.$index)'>修改</el-button>
                    <el-button type="text" @click="deleteBtn(scope.$index)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--弹窗数据-->
        <el-dialog title="修改" :visible.sync="addUp">
            <el-form :model="newValue">
                <el-form-item label="序号">
                    <el-input v-model="newValue.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="版本号">
                    <el-input v-model="newValue.version" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addUp = false">取 消</el-button>
                <el-button type="primary" @click="confirm_add">确 定</el-button>
            </div>
        </el-dialog>
        <el-dialog title="修改" :visible.sync="dialogVisible">
            <el-form :model="editObj">
                <el-form-item label="序号">
                    <el-input v-model="editObj.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="版本号">
                    <el-input v-model="editObj.version" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editDo">确 定</el-button>
            </div>
        </el-dialog>
    </div>

</body>
<script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                addUp: false,
                dialogVisible: false,
                editObj: {
                    id: '',
                    version: ''
                },
                newValue: {
                    id: '',
                    version: ''
                },
                list: [{
                        id: '1',
                        version: '1.0.0'
                    },
                    {
                        id: '2',
                        version: '1.0.1'
                    }
                ]
            }
        },
        methods: {
            addBtn() {
                this.addUp = true;
            },
            confirm_add() {
                var str = {
                    id: this.newValue.id,
                    version: this.newValue.version,
                };
                this.list.push(str);
                this.id = '';
                this.version = '';
                //初始化newValue中的值
                this.newValue = {
                    id: "",
                    version: "",
                }
                this.addUp = false;
            },
            editShow(row, index) {
                //记录索引
                this.listIndex = index;
                //记录数据
                this.editObj = row;
                //显示弹窗
                this.dialogVisible = true;
            },
            deleteBtn(index) {
                this.$confirm('确认删除？', '删除', {
                        showClose: true,
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    })
                    .then(() => {
                        this.list.splice(index, 1)
                    })
                    .catch(action => {

                    });
            },
            editDo() {
                Vue.set(this.list, this.listIndex, this.editObj);
                JSON.stringify(this.list);
                this.dialogVisible = false;
            }
        }
    })
</script>

</html>