<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/element/index.css">

    <script src="../public/js/vue.min.js"></script>
    <script src="../public/css/element/index.js"></script>
</head>
<style>
    input[type='text']{
        height: 40px;
        width: 200px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #999;
        text-indent: 20px;
        transition: 0.3;
        outline: none;
    }

    input[type='text']:hover{
        border-color: #42b983;
    }

    input[type='text']:focus{
        border-bottom-color: #f1190d;
    }

    input[type='text']::-webkit-input-placeholder {
        transition: 0.5s;
        font-size: 14px;
        transform-origin: top left;
    }

    input[type='text']:focus::-webkit-input-placeholder {
        transform: scale(0.8) translateY(-10px);
    }
</style>

<body>
    <div id="app">
        <input type="text" placeholder="123">
        <div class="divBtn" @click="addGsForm">新增</div>
        <el-row class="consignee" v-for="(item,index) in tableData">
            <span v-text="item.child_1"></span>
            <span v-text="item.child_2"></span>
            <span>{{item.child_3}}</span>
            <span>{{item.child_4}}</span>
            <el-button @click="bjGsForm(item,index)" type="primary">编辑</el-button>
            <el-button @click="deleteData(index,tableData)" type="primary">删除</el-button>
        </el-row>
        <el-dialog s @close="closeDialogAddgsVisible" :title="title" class="dialogAdd" width="600px"
            :visible.sync="dialogAddgsVisible">
            <el-form :model="addForm" ref="addForm" style="margin-right: 20px;" label-position="right"
                label-width="110px">
                <el-form-item label="公司名称:" prop="name">
                    <el-input placeholder="请输入内容" v-model="addForm.child_1"></el-input>
                </el-form-item>
                <el-form-item label="统一信用社码:" prop="creditCode">
                    <el-input placeholder="请输入内容" v-model="addForm.child_2"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="dialogAddgsVisible = false">取 消</el-button>
                <el-button size="mini" type="primary" @click="saveAddForm">确 定</el-button>
            </div>
        </el-dialog>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                tableData: [{
                        'child_1': '11',
                        'child_2': '22',
                    },
                    {
                        'child_1': '11',
                        'child_2': '22',
                    },
                ],
                addForm: {
                    'child_1': '',
                    'child_2': '',
                },
                dialogAddgsVisible: false,
                title: ''
            }
        },
        created() {

        },
        methods: {
            closeDialogAddgsVisible() {
                this.$refs.addForm.resetFields(); //element封装的方法,清空模态框的值
                this.title = "" //初始化title的值
                this.addForm = { //初始化addForm中的值
                    child_1: "",
                    child_2: "",
                }
            },
            addGsForm() {
                this.dialogAddgsVisible = true;
                this.title = "新增"
            },
            bjGsForm(item, index) {
                this.dialogAddgsVisible = true;
                this.title = "编辑"
                this.editIndex = index;
                this.addForm = {
                    child_1: item.child_1,
                    child_2: item.child_2,
                };
            },
            saveAddForm(item, index) {
                this.$refs.addForm.validate(valid => {
                    if (this.title == "新增") {
                        var str = {
                            child_1: this.addForm.child_1,
                            child_2: this.addForm.child_2,
                        };
                        this.tableData.push(str);
                        this.child_1 = '';
                        this.child_2 = '';
                        //初始化addForm中的值
                        this.addForm = {
                            child_1: "",
                            child_2: "",
                        }
                    }
                    if (this.title == "编辑") { //发送编辑请求
                        Vue.set(this.tableData, this.editIndex, this.addForm);
                        JSON.stringify(this.tableData);
                        this.dialogAddgsVisible = false;
                    }
                });
            },
        }
    })
</script>

</html>