/* css_demo */
/* 公共样式 */
html,body{height: 100%;background-color: #f5f5f5;color: #363636;}
p{margin: 0;padding: 0;}
.text_center{text-align: center;}
.text_right{text-align: right;}
.text_left{text-align: left;}
.font_bold{font-weight: bold;}
.color_blue{color: #1989fa;}
.color_white{color: #ffffff;}
.color_red{color: #d43030;}
.color_yellow{color: #ff8d1a;}
.color_black{color: #222222;}
.color_green{color: #41b370;}
.color_gray{color: #363636;}
.color_lightGray{color: #999999;}
.bg_red{background-color: #d43030;}
.bg_gray{background-color: #999999;}
.bg_green{background-color: #41b370;}
.bg_blue{background-color: #1989fa;}
.bg_yellow{background-color: #ff8d1a;}
.bg_orange{background-color: #ff5733;}
.bg_white{background-color: #ffffff;}
.f18{font-size: 18px;}
.f16{font-size: 16px;}
.f14{font-size: 14px;}
.f_bold{font-weight: bold;}
.margin_bottom_8{margin-bottom: 8px;}
.f_left{float: left;}
.f_right{float: right;}
.border_radius{border-radius: 4px;}

.van-tabs__line{background-color: #1989fa;}

.food_nav .van-nav-bar{background-color: #1989fa;}
.food_nav .van-nav-bar__title,.food_nav .van-nav-bar .van-icon{color: #ffffff;}
.food_list {padding: 10px;}
.food_list_item_edit{display: flex;}
.food_list_item_edit button{min-width: 50%;}
.food_list_item_title{padding:12px 12px 4px;}
.food_list_item_content{padding:3px 14px;}
.food_list_item_content_item{line-height: 2.5;}
.food_list_item_title_icon{vertical-align: -5px;}
.food_edit_btn{height: 44px;}
.food_edit_btn button{width: 100%;}
.food_set_title{padding: 10px 12px;}
.food_set_switch{vertical-align: 6px;margin: 0 7px;}








